<p class="tc i dn">Cliquez sur la catégorie de votre choix pour filtrer les résultats.<p>
<div class="filters">
    <div class="dn">
    <input type="radio" id="All" name="categories" value="All" checked>
    {{ range .Site.Taxonomies.categories }}
    <input type="radio" id="{{ .Page.Title }}" name="categories" value="{{ .Page.Title }}">
      <style media="screen">
        [value="{{ .Page.Title }}"]:checked ~ section > div.mediumcard:not([data-category~="{{ urlize .Page.Title }}"]) {
          display:none;
        }
        [value="{{ .Page.Title }}"]:checked ~ ul [for="{{ .Page.Title }}"] {
          background: lightblue;
          box-shadow: inset 0px 0px 10px gray;
          transition: .5s;
        }
      </style>
    {{ end }}
      <ul class="flex flex-wrap w-100 ml2 pa0">
        <label for="All" class="b">Tout voir</label>
        {{ range .Site.Taxonomies.categories }}
        <label for="{{ .Page.Title }}">{{ .Page.Title }}</label>
        {{ end }}
      </ul>
    </div> 
  <section class="masonry mh4">
    {{ range .Paginator.Pages }}
      <div class="relative w-100 dib mb4 grow mediumcard" data-category="{{ range (.GetTerms "categories") }}{{ urlize .LinkTitle }} {{ end }}">
        {{- partial "summary-with-image.html" . -}}
      </div>
    {{ end }}
  </section>
</div>
