<div class="headlogo">
<svg
   width="364.35818mm"
   height="231.63956mm"
   viewBox="0 0 364.35819 231.63956"
   id="svg8">
  <defs
     id="defs2">
    <marker
       id="RazorWire"
       refX="0"
       refY="0"
       orient="auto"
       style="overflow:visible">
      <path
         id="path1500"
         transform="scale(0.8)"
         style="fill:#fdfd00;fill-opacity:1;fill-rule:evenodd;stroke:#fdfd00;stroke-width:0.10000001pt;stroke-opacity:1"
         d="m 0.02272727,-0.74009011 v 1.4375 L -7.7585227,3.0099099 H 10.678977 L 3.4914773,0.69740989 v -1.4375 L 10.741477,-2.8963401 H -7.7272727 Z" />
    </marker>
    <marker
       orient="auto"
       refY="0"
       refX="0"
       id="Arrow1Lstart"
       style="overflow:visible">
      <path
         id="path1268"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         transform="matrix(0.8,0,0,0.8,10,0)" />
    </marker>
  </defs>
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     id="layer1"
     transform="translate(31.485651,-86.753788)">
    <path
       style="fill:none;stroke:#7e7e7e;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       d="M -31.414654,223.00194 198.79332,87.153062"
       id="path911" />
    <path
       style="fill:none;stroke:#7e7e7e;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       d="M 332.43946,217.77986 102.1091,87.109981"
       id="path911-3" />
    <path
       style="fill:none;stroke:#7e7e7e;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       d="M 332.81393,223.69806 91.605785,86.857059"
       id="path911-3-6" />
    <path
       style="fill:none;stroke:#7e7e7e;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       d="M -31.386244,228.31904 207.78415,87.181313"
       id="path911-7" />
    <path
       style="fill:none;stroke:#7e7e7e;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       d="M -31.153198,253.63317 230.84984,87.1723"
       id="path911-5" />
    <path
       style="fill:none;stroke:#7e7e7e;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       d="M -31.132503,318.20336 332.3809,87.249007"
       id="path911-5-3" />
    <path
       style="fill:none;stroke:#7e7e7e;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       d="M -31.437412,155.2438 332.52958,155.00951"
       id="path981" />
    <path
       style="fill:none;stroke:#7e7e7e;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       d="m -31.377914,178.47625 363.951404,0.23429"
       id="path981-5" />
    <path
       style="fill:none;stroke:#7e7e7e;stroke-width:0.25;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       d="M 332.2656,245.24308 66.991386,87.126248"
       id="path911-3-6-6" />
    <g
       style="fill:#808080;fill-opacity:1"
       id="g1129"
       transform="matrix(0.26458333,0,0,0.26458333,71.421266,113.88019)">
      <g
         style="fill:#808080;fill-opacity:1"
         transform="translate(-790.4837,48.218043)"
         id="g5450" />
      <path
         id="path5551"
         d=""
         style="fill:#808080;fill-opacity:1;stroke:none;stroke-width:0.01104854;stroke-opacity:1" />
      <path
         id="path5557"
         d=""
         style="fill:#808080;fill-opacity:1;stroke:none;stroke-width:0.00390625;stroke-opacity:1" />
      <path
         id="path5567"
         d=""
         style="fill:#808080;fill-opacity:1;stroke:none;stroke-width:0.70710677;stroke-opacity:1" />
      <path
         id="path5573"
         d=""
         style="fill:#808080;fill-opacity:1;stroke:none;stroke-width:0.70710677;stroke-opacity:1" />
      <path
         id="path5593"
         d=""
         style="fill:#808080;fill-opacity:1;stroke:none;stroke-width:0.70710677;stroke-opacity:1" />
      <path
         id="path5595"
         d=""
         style="fill:#808080;fill-opacity:1;stroke:none;stroke-width:0.70710677;stroke-opacity:1" />
      <path
         id="path5599"
         d=""
         style="fill:#808080;fill-opacity:1;stroke:none;stroke-width:0.70710677;stroke-opacity:1" />
      <path
         id="path5601"
         d=""
         style="fill:#808080;fill-opacity:1;stroke:none;stroke-width:0.70710677;stroke-opacity:1" />
      <path
         id="path5603"
         d=""
         style="fill:#808080;fill-opacity:1;stroke:none;stroke-width:0.70710677;stroke-opacity:1" />
      <path
         id="path5607"
         d=""
         style="fill:#808080;fill-opacity:1;stroke:none;stroke-width:0.17677669;stroke-opacity:1" />
      <path
         id="path5633"
         d=""
         style="fill:#808080;fill-opacity:1;stroke:none;stroke-width:0.17677669;stroke-opacity:1" />
      <g
         style="fill:#808080;fill-opacity:1"
         transform="translate(299.81327,-519.01637)"
         id="g5940">
        <path
           style="fill:#dfe3ec;fill-opacity:0;stroke:#000000;stroke-width:1.41421354;stroke-opacity:1"
           d="m -238.96321,761.53151 c 1.16314,-1.09641 132.37506,-84.33709 213.930381,-135.71715 l 27.324911,-17.21476 56.80275,33.25856 56.802748,33.25855 53.75816,-0.0216 c 29.567,-0.0113 54.60281,-0.55715 55.63514,-1.21162 2.21899,-1.40681 -9.20907,-8.24212 -93.09374,-55.68088 C 48.949476,571.12405 13.691605,551.4265 6.078328,547.74366 l -6.61777,-3.20128 -13.18122,7.5779 c -7.249669,4.16785 -63.774713,38.08434 -125.611188,75.36998 -61.83649,37.28564 -114.42637,68.74776 -116.86641,69.91582 -3.66547,1.75468 -7.29349,1.90715 -20.87743,0.87735 l -16.44101,-1.2464 71.08202,-41.979 c 39.0951,-23.08845 104.1746,-61.52593 144.621115,-85.41664 40.446503,-23.8907 75.13009,-44.04966 77.074634,-44.79769 2.948819,-1.13436 5.178327,-0.41932 13.435029,4.30883 5.444722,3.11789 37.900923,21.53472 72.124891,40.92629 99.431301,56.33858 190.886061,108.24301 191.309801,108.57638 0.21503,0.16917 -30.09887,19.1705 -67.3642,42.22517 l -67.7552,41.91759 H -49.647654 c -112.332186,0 -190.107116,-0.52028 -189.315556,-1.26645 z m 373.98878,-29.95379 c 7.38926,-2.7815 18.52619,-7.55447 24.74873,-10.6066 10.20995,-5.00793 11.35557,-5.97927 11.74276,-9.95628 0.57699,-5.92677 -5.62173,-11.11922 -15.79547,-13.23128 -5.35169,-1.11101 -40.9956,-1.44862 -119.868735,-1.13539 -109.92836,0.43657 -112.41323,0.50707 -120.03039,3.40503 -12.30473,4.68139 -35.805025,16.887 -38.704925,20.10262 -5.65458,6.27022 1.26014,13.42146 15.3704,15.89616 3.11127,0.54566 55.932152,0.90006 117.379731,0.78758 L 121.59054,736.635 Z"
           id="path5930" />
      </g>
    </g>
    <g
       aria-label="DEBORD"
       transform="matrix(0.57281362,0,0,0.57281362,-88.68676,-19.972703)"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:40px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:none;fill-opacity:1;stroke:#333333;stroke-opacity:1"
       id="flowRoot2018">
      <path
         d="m 359.41086,365.95415 q 0,7.24 -4.12,10.92 -4.08,3.64 -11.48,3.64 h -8.08 v -28.56 h 8.96 q 4.48,0 7.76,1.6 3.32,1.6 5.12,4.72 1.84,3.08 1.84,7.68 z m -6.28,0.16 q 0,-4.76 -2.08,-6.96 -2.08,-2.24 -6.04,-2.24 h -3.24 v 18.6 h 2.6 q 8.76,0 8.76,-9.4 z"
         id="path2026"
         style="fill:#dfe3ec;fill-opacity:0;stroke:#333333;stroke-opacity:1" />
      <path
         d="m 381.78023,380.51415 h -16.44 v -28.56 h 16.44 v 4.96 h -10.4 v 6.28 h 9.68 v 4.96 h -9.68 v 7.36 h 10.4 z"
         id="path2028"
         style="fill:#dfe3ec;fill-opacity:0;stroke:#333333;stroke-opacity:1" />
      <path
         d="m 387.76211,351.95415 h 8.88 q 5.72,0 8.64,1.6 2.92,1.6 2.92,5.64 0,2.44 -1.16,4.12 -1.12,1.68 -3.24,2.04 v 0.2 q 1.44,0.28 2.6,1 1.16,0.72 1.84,2.08 0.68,1.36 0.68,3.6 0,3.88 -2.8,6.08 -2.8,2.2 -7.68,2.2 h -10.68 z m 6.04,11.32 h 3.52 q 2.64,0 3.64,-0.84 1.04,-0.84 1.04,-2.44 0,-1.64 -1.2,-2.36 -1.2,-0.72 -3.8,-0.72 h -3.2 z m 0,4.8 v 7.44 h 3.96 q 2.72,0 3.8,-1.04 1.08,-1.08 1.08,-2.84 0,-1.6 -1.12,-2.56 -1.08,-1 -3.96,-1 z"
         id="path2030"
         style="fill:#dfe3ec;fill-opacity:0;stroke:#333333;stroke-opacity:1" />
      <path
         d="m 440.55711,366.19415 q 0,4.44 -1.48,7.76 -1.44,3.28 -4.44,5.12 -3,1.84 -7.68,1.84 -4.64,0 -7.68,-1.84 -3,-1.84 -4.48,-5.16 -1.44,-3.32 -1.44,-7.76 0,-4.44 1.44,-7.72 1.48,-3.28 4.48,-5.08 3.04,-1.84 7.72,-1.84 4.64,0 7.64,1.84 3,1.8 4.44,5.12 1.48,3.28 1.48,7.72 z m -20.84,0 q 0,4.48 1.72,7.08 1.72,2.56 5.52,2.56 3.88,0 5.56,-2.56 1.68,-2.6 1.68,-7.08 0,-4.52 -1.68,-7.08 -1.68,-2.56 -5.52,-2.56 -3.84,0 -5.56,2.56 -1.72,2.56 -1.72,7.08 z"
         id="path2032"
         style="fill:#dfe3ec;fill-opacity:0;stroke:#333333;stroke-opacity:1" />
      <path
         d="m 454.83211,351.95415 q 5.84,0 8.6,2.12 2.8,2.12 2.8,6.44 0,1.96 -0.76,3.44 -0.72,1.44 -1.96,2.48 -1.2,1 -2.6,1.64 l 8.4,12.44 h -6.72 l -6.8,-10.96 h -3.24 v 10.96 h -6.04 v -28.56 z m -0.44,4.96 h -1.84 v 7.72 h 1.96 q 3,0 4.28,-1 1.32,-1 1.32,-2.96 0,-2.04 -1.4,-2.88 -1.36,-0.88 -4.32,-0.88 z"
         id="path2034"
         style="fill:#dfe3ec;fill-opacity:0;stroke:#333333;stroke-opacity:1" />
      <path
         d="m 496.59836,365.95415 q 0,7.24 -4.12,10.92 -4.08,3.64 -11.48,3.64 h -8.08 v -28.56 h 8.96 q 4.48,0 7.76,1.6 3.32,1.6 5.12,4.72 1.84,3.08 1.84,7.68 z m -6.28,0.16 q 0,-4.76 -2.08,-6.96 -2.08,-2.24 -6.04,-2.24 h -3.24 v 18.6 h 2.6 q 8.76,0 8.76,-9.4 z"
         id="path2036"
         style="fill:#dfe3ec;fill-opacity:0;stroke:#333333;stroke-opacity:1" />
    </g>
    <path
       transform="matrix(0.26458334,0,0,0.26458334,-31.485651,86.753788)"
       id="path2080"
       d="m 588.62074,318.4201 c -7.82699,-0.40342 -12.79374,-1.11995 -15.28983,-2.20578 -8.34292,-3.62929 -10.30782,-8.86083 -4.88163,-12.9973 4.2066,-3.20677 24.71092,-13.78399 33.6008,-17.33309 7.32703,-2.92517 7.63015,-2.96318 30.29844,-3.79946 12.59355,-0.4646 64.76938,-0.72519 115.94629,-0.57909 l 93.04893,0.26565 9.04238,5.56085 c 4.97331,3.05846 9.04238,5.99132 9.04238,6.51746 0,4.472 -12.32697,11.08471 -40.70056,21.83351 l -9.63186,3.64885 -104.44127,-0.15704 c -57.4427,-0.0864 -109.65803,-0.42593 -116.03407,-0.75456 z"
       style="fill:#fdfd00;fill-opacity:0;stroke:none;stroke-width:26.89529037;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
    <path
       transform="matrix(0.26458334,0,0,0.26458334,-31.485651,86.753788)"
       id="path2082"
       d="m 851.55751,286.49188 c -3.74464,-2.24592 -6.71149,-4.11582 -6.593,-4.15532 0.35382,-0.11794 4.22034,1.07087 5.97352,1.83664 2.2126,0.96643 4.59571,2.53518 5.89129,3.8781 1.07578,1.1151 2.07407,2.59033 1.72364,2.54714 -0.10285,-0.0127 -3.2508,-1.86063 -6.99545,-4.10656 z"
       style="fill:#fdfd00;fill-opacity:0;stroke:none;stroke-width:6.72382259;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke" />
  </g>
  <style
     id="style2"
     type="text/css">
	.st0{display:none;}
	.st1{fill:#9CA5A5;}
	.st2{fill:#F7EF10;}
</style>
  <style
     id="style2-2"
     type="text/css">
	.st0{display:none;}
	.st1{fill:#9CA5A5;}
	.st2{fill:#F7EF10;}
</style>
<style>
  #svg8 {max-width:100%;height:100%;}
  #svg8 * {fill-opacity:0;transition:fill-opacity 2s;}
  #svg8.finished * {fill-opacity:1 !important;}
</style>
</svg>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.5/vivus.min.js"></script>
<script>
  new Vivus('svg8', { type: 'oneByOne', duration: 400, start: 'autostart' }, function (obj) {
  obj.el.classList.add('finished');});
</script>
</div>
