{{ $section := .Site.GetPage "section" .Section }}
{{ $featured_image := .Params.featured_image }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="cover bg-top">
    {{ partial "site-navigation.html" . }}
    <div class="mainheader pb3-m w-80 bg-moon-gray" style="margin-left:20%">
      <div class="bloctitre pt4 tc-l cover bg-top flex"  style="">
        <div style="margin:auto">
          <aside class="instapaper_ignoref b tracked-mega">
            {{with .CurrentSection.Title }}{{. | upper }}{{end}}
          </aside>
          {{ if not .Params.omit_header_text }}
          <h1 class="f2 f1-l fw2 mb0 lh-title ph3">{{ .Title | default .Site.Title }}</h1>
          {{ with .Params.description  }}
            <h3 class="fw1 f5 f3-l measure-wide-l center lh-copy mt3 mb4">
              {{ . }}
            </h3>
          {{ end }}
            {{ end }}
                {{/*
                    Show "reading time" and "word count" but only if one of the following are true:
                    1) A global config `params` value is set `show_reading_time = true`
                    2) A section front matter value is set `show_reading_time = true`
                    3) A page front matter value is set `show_reading_time = true`
                */}}
                {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
                <span class="f6 mv4 dib tracked"> - {{ .ReadingTime}} minutes de lecture</span>
                {{ end }}
        </div>
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
