{{ $section := .Site.GetPage "section" .Section }}
{{ $featured_image := .Params.featured_image }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="headerfeaturedimg {{ if (eq .Section "comprendre") }}bordy{{ end }}" style="background-image:url({{ $featured_image }});">
    <div class="mainheader shadow-1">
      <div class="bloctitre pt4 tc-l bg-top flex"  style="">
        <div class=" flex flex-column center">
          <aside class="instapaper_ignoref b center categoryname">
            {{with .CurrentSection.Title }}{{. | upper }}{{end}}
          </aside>
          {{ if not .Params.omit_header_text }}
          <h1 class="f2 f1-l fw2 mv6-l mh6-l mh5-m tc lh-title ph3">{{ .Title | default .Site.Title }}</h1>
          {{ end }}
                {{/*
                    Show "reading time" and "word count" but only if one of the following are true:
                    1) A global config `params` value is set `show_reading_time = true`
                    2) A section front matter value is set `show_reading_time = true`
                    3) A page front matter value is set `show_reading_time = true`
                */}}
                {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
                <span class="b f5 oswald mv4 center dib tracked"> {{ .ReadingTime}} minutes de lecture</span>
                {{ end }}
        </div>
      </div>
      <div class="bg-white shadow-1 flex flex-column flex-row-ns justify-between items-center">
        {{ with .Params.summary  }}
        <h3 class="alegreyasc fw1 f4 f3-l w-100-ns measure-wide-l ma4 tj lh-copy">
          {{ . }}
        </h3>
        {{ end }}
        {{ if .Params.lieu }}
        <img src="{{ .Params.lieu }}" alt="nom de rue" class="rue center pa4">
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
    </div>
  </header>
{{ end }}
