{{ if .IsHome }}
  <header class="flex bg-debord">
    <div class="homeheader tc tracked-mega">
    </div>
  </header>
{{ else }}
  <header>
    <div class="bg-debord">
      <div class="tc pv0 pv5-ns ph0 ph4-ns bg-dash listheader">
        <h1 class="f1 dib-ns center f-subheadline-l fw2 mv0 lh-title">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <h2 class="fw1 f5 f3-l measure-wide-l center lh-copy mt3 mb4">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}
