{{ $featured_image := .Params.featured_image }}
<article class="bg-white br4 w-100 center grow" style="break-inside:avoid-column;">
  <a href="{{.Permalink}}" class="color-inherit link">
    <div class="flex flex-column shadow-1 br4 card">
      {{ if .Params.featured_image }}
      {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
      {{ $featured_image := (trim $featured_image "/") | absURL }}
        <img src="{{ $featured_image }}" class="cardimage">
      {{ end }}
        <h1 class="f3 tc fw1 lh-title cardtext cardtitle">
          {{ .Title }}
        </h1>
      {{ if .Params.nomdecode }}
        <div class="nomdecode tc">
         <span class="tracked alegreya ph3 pv1 f6">
         {{ .Params.nomdecode }}
         </span>
        </div>
      {{ end }}
      <div class="br4 tj pa2 alegreya f5 w-100 lh-copy nested-copy-line-height nested-links cardtext">
          {{ .Summary }}
      </div>
    </div>
  </a>
</article>
