<div class="relative w-30-ns w-100 mv2 mh2 mb4 bg-white nested-copy-line-height br3 shadow-1 grow card">
  <a href="{{ .Permalink }}" class="link black">
    <div class="bg-white mb3 overflow-hidden h-100 br3 cardtext">
      <h1 class="relatedtitle f3 tc normal">
        {{ .Title }}
      </h1>
      <div class="nested-links f5 ph3 mt3 lh-copy nested-copy-line-height alegreya tj">
        {{ .Description  }}
      </div>
    </div>
  </a>
</div>
