{{ define "main" }}
  <article class="nested-copy-line-height bg-debord nested-img">
    <section class="cf ph3 ph5-l f4 w-100 lh-copy dark-gray">
      <div class="w-90 measure-wide center">
        {{- .Content -}}
      </div>
    </section>
    {{ if .Params.noarticles }}
    {{ else if eq .Section "réalisations" }}
      {{- partial "filteredreal.html" . -}}
    {{ else if eq .Section "comprendre" }}
      {{- partial "filteredcomp.html" . -}}
    {{ else }}
    <section class="masonry mh3">
      {{ range .Paginator.Pages }}
        <div class="relative w-100 dib mb3 grow mediumcard">
          {{- partial "summary-with-image.html" . -}}
        </div>
      {{ end }}
    </section>
    {{ end }}
    {{- template "_internal/pagination.html" . -}}
    {{ if .Params.map }}
      <div class="map w-100 bg-white">
          <h4 class="mt0 mb0 pv4">Vous pouvez aussi explorer nos différents chantiers sur cette carte !</h4>
          <iframe class="mapiframe" width="100%" height="500px" frameborder="0" allowfullscreen src="//umap.openstreetmap.fr/fr/map/debord_429466?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false"></iframe>
      </div>
    {{ end }}
  </article>
{{ end }}
