{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="flex flex-wrap justify-between pb4 center realarticle">
<!--    <header class="w-100">
        {{/*Map*/}}
        <iframe class="map" width="100%" height="200" frameborder="0" src="{{ .Params.situation  }}"></iframe>
            <div class="flex pa4 bg-white">
                <div class="w-third">
                    <img src="{{ .Params.featured_image }}">
                </div>
                {{ with .Params.summary  }}
                <h3 class="summary w-two-thirds ml5 f5 f3-l measure-wide-l lh-copy mt3 mb4">
                {{ . }}
                </h3>
                {{ end }}
            </div>
    </header> -->
    <div class="nested-copy-line-height {{ $.Param "post_content_classes"  | default "serif"}} nested-links nested-img w-80 center ph0 ph3-m ph5-l">
      {{- .Content -}}
      <div class="instapaper_ignoref">
      {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
      {{ end }}
      {{ if .Site.Params.commentoEnable }}
        {{- partial "commento.html" . -}}
      {{ end }}
      </div>
    </div>
  </article>
  <a href="{{ urlize (relURL .Section) }}" class="backtoparent black flex oswald i no-underline justify-center pa3 f3">
    <span class="mh3">&#x21a9;</span>
    <div class="flex">Retour à "{{ .CurrentSection.Title }}"</div>
  </a>
{{ end }}
