{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <article class="realarticle">
    <header class="tc-l bg-dash pv0 pv5-ns ph0 ph4-ns ml0 w-100">
      <h1 class="f1 dib-l tc ph4 fw2 ma0 center f-subheadline-l">
        {{ .Title }}
      </h1>
    </header>
    <div class="">
      {{ if .Params.mapadresse }}
        <iframe width="100%" height="300px" frameborder="0" allowfullscreen src="{{ .Params.mapadresse }}"></iframe>
      {{ end }}
      <div class="nested-copy-line-height lh-copy f4 nested-links nested-img dark-gray center cf ph0 ph4-ns mw8 w-80">
        {{ .Content }}
      </div>
    </div>
  </article>
{{ end }}
