{{ $nomdesection := .Get "nomdesection"}}
{{ $termes := .Get "termes"}}
<section class="w-100 masonry">
  {{ range first 3 (where .Site.RegularPages "Section" $nomdesection )}}
    <div class="relative w-100 mb4" data-category="{{ range (.GetTerms $termes) }}{{ urlize .LinkTitle }} {{ end }}">
      {{ partial "summary-with-image.html" . }}
    </div>
  {{ end }}
</section>
